#header{
    display:flex;
    justify-content: center;
    align-items: center;
}
#header_img{
    display: inline;
}
#header_text{
    display:inline;
    font-size:xx-large;
}

body{
    background-color: rgb(13, 17, 23);
    font-family: sans-serif;
    color:rgb(255, 255, 255);
}
#navmenu{
    display:grid;
    place-items: center;
}
li{
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#projectDescription{
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

a{
    color: white;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }
#article_head_text{
    display: inline;
    font-size: x-large;
    text-decoration: underline;
}
#article_head_date{
    text-align: end;
}
#article_p{
    font-size: 20px;
}

#body_img{
    display: block;
    margin: auto;
}